/**
 * styles
 * layout/_layout.scss
**/

@charset 'utf-8';

@use 'sass:math';
// @use '../helper/function' as *;
@use '../helper/mixin';
@use '../setting/var' as *;

// === 전역 기본 스타일 ===
:root {
  font-size: 62.5%;
  body {
    background-color: $color_black;
    @include mixin.font(400 '1.4rem/1.47' [$font-family-primary]);
  }

  @include mixin.media(M) {
    font-size: 70%;
  }
}

// === 레이아웃 ===
.hwitter {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  min-height: 100vh;

  @include mixin.media(M) {
    padding: 4rem 0;
  }
}