@charset 'utf-8';

@use 'sass:math';
// @use '../helper/function' as *;
@use '../helper/mixin';
@use '../setting/var' as *;

/**
 * 레이아웃
**/

// === 전역 기본 스타일 ===
:root {
  font-size: 62.5%;
  body {
    background-color: $color_black;
    @include mixin.font(400 '1.4rem/1.47' [$font-family-primary]);
  }
}

// === 레이아웃 ===
.hwitter {
  display: flex;
  justify-content: center;
  height: 100vh;
}