# Firebase
.firebase/

# Firebase debug logs
firebase-debug.log*
firebase-debug.*.log*

# Firebase config (optional)
# .firebaserc

# TypeScript build info
*.tsbuildinfo

# Build output
dist/

# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage & testing
coverage
.nyc_output
.grunt

# Binary & build
build/Release
.lock-wscript
bower_components
lib-cov

# Other
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env
.dataconnect
