/**
 * components/common
 * Input/Input.module.scss
**/

@use '../../../styles/setting/var' as *;
@use '../../../styles/helper/mixin';


.input {
  overflow: hidden;
  height: 4rem;
  border: .1rem solid $gray-300;
  border-radius: .4rem;
  background-color: $color_white;

  input {
    padding: 0 2rem;
    width: 100%;
    height: 100%;
    border: none;
  }
}