/**
 * components/tweet
 * TimeLine/TimeLine.module.scss
**/

@use '../../../styles/setting/var' as *;
@use '../../../styles/helper/mixin';

.timeline {
  display: grid;
  gap: .5rem 0;
  margin-top: 3rem;
}