/**
 * components/common
 * LoadingScreen/LoadingScreen.module.scss
**/

@use '../../../styles/setting/var' as *;
@use '../../../styles/helper/mixin';

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  @include mixin.font($color_white '2.4rem');
}