@use '../../../styles/setting/var' as *;
@use '../../../styles/helper/mixin';

/**
 * LoadingScreen.module.scss
**/

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  @include mixin.font($color_white '2.4rem');
}