/**
 * components/common
 * Button/Button.module.scss
**/

@use '../../../styles/setting/var' as *;
@use '../../../styles/helper/mixin';

// 일반 버튼
.btn {
  padding: 0 2rem;
  height: 3.5rem;
  @include mixin.font($color_white '1.4rem/3.5rem' center);
  border: 0;
  border-radius: 3.5rem;
  background-color: $gray-500;

  &:hover,
  &:active {
    opacity: .7;
  }

  // 버튼 컬러 종류
  $types: ('primary', $color_main), ('negative', $color_negative_base);
  @each $type, $bg in $types {
    &.#{$type} {
      background-color: $bg;
    }
  }

  // 버튼사이즈
  &.full {
    margin-top: .5rem;
    width: 100%;

    @include mixin.media(XL) {
      margin-top: 0;
    }
  }

  &.sm {
    padding: .5rem 1rem;
    height: auto;
    @include mixin.font($color_white '1.2rem/1.4');
    border: 0;
    border-radius: .4rem;
  }
}

// submit 버튼
.btnSubmit {
  overflow: hidden;
  display: inline-block;
  position: relative;
  cursor: pointer;

  input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
  }
}