/**
 * components/auth
 * PasswordBtn/PasswordBtn.module.scss
**/

@use '../../../styles/setting/var' as *;
@use '../../../styles/helper/mixin';

// 비밀번호 찾기
.pwBox {
  margin-top: 1rem;
  @include mixin.font($color_white center);

  .resetPwBtn {
    margin-left: .4rem;
    color: $color_main;
    border-bottom: .1rem solid transparent;

    &:hover {
      border-color: $color_main;
    }
  }
}

// 모달 하단 버튼
.btnGroup {
  display: flex;
  gap: 0 .4rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}