/**
 * components/layout
 * Layout/Layout.module.scss
**/

@use '../../../styles/setting/var' as *;
@use '../../../styles/helper/mixin';

.layout {
  display: grid;
  grid-template-rows: $menu_size 1fr;
  gap: 1.5rem;
  width: 100%;
  max-width: $maxWidth_base;

  @include mixin.media(M) {
    grid-template-columns: $menu_size 1fr;
    grid-template-rows: 1fr;
  }
}

.menu {
  display: flex;
  gap: .8rem;

  @include mixin.media(M) {
    flex-direction: column;
  }

  &Item {
    padding: .5rem;
    width: $menu_size;
    height: $menu_size;
    border: .1rem solid $color_white;
    border-radius: 100%;
    cursor: pointer;

    a {
      width: 100%;
      height: 100%;

      svg {
        fill: $color_white;
      }
    }

    &.typeLogout {
      border-color: $color_negative_base;

      svg {
        fill: $color_negative_base;
      }
    }

    &:hover {
      opacity: .7;
    }
  }
}