/**
 * components/tweet
 * Tweet/Tweet.module.scss
**/

@use '../../../styles/setting/var' as *;
@use '../../../styles/helper/mixin';

//< tweet
.tweetWrap {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem;
  color: $color_white;
  border: .1rem solid rgba(255, 255, 255, 0.5);
  border-radius: 1rem;

  // 트윗 내용
  .tweet {
    position: relative;
    flex: 1;

    &:has(.tweetBtns) {
      padding-bottom: 3.3rem;
    }
  }

  // 트윗 업로드 이미지
  .tweetPhoto {
    margin-top: 2rem;
    width: 5rem;
    height: 5rem;
    border-radius: .4rem;

    @include mixin.media(M) {
      width: 10rem;
      height: 10rem;
    }

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  // 트윗 버튼
  .tweetBtns {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    gap: 0 .4rem;
  }
}
//> tweet

//< Header
.userName {
  margin-bottom: 1.5rem;
  @include mixin.font(700 '1.5rem');
}
//> Header

//< Content
.tweetContent {
  font-size: 1.4rem;
}

.tweetWrite {
  padding: 1rem;
  width: 100%;
  @include mixin.font($color_white '1.4rem');
  border: .1rem solid $color_white;
  border-radius: .4rem;
  background-color: $color_black;
  resize: none;

  &:focus {
    outline: none;
  }
}
//> Content
